.brand-gradient{
    /* background: #0091ff;  */
    background: burlywood;

    background: -webkit-linear-gradient (to top, #0091ff, #32cd4c);
   

    background: linear-gradient (to top, #0091ff, #32c4); 

    -webkit-background-clip: text; 
    background-clip: text;

    color: transparent;

}
.banner-holder, .main-page-header{
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: bottom;
}
.custom-nav{
    backdrop-filter: blur(8px);
}


